<%- include("partials/header.ejs"); %>
    <body>
        <main role="main">
            <%- include("partials/navbar.ejs"); %>
            <div class="container text-center" style="margin-top: 40vh;">
                <h1 class="display-6">
                    Erro 404 - Página não encontrada :(
                </h1>
            </div>
        </main>
    </body>
<%- include("partials/footer.ejs"); %>