<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="/img/banner.png" alt="logo" style="height: auto; width: auto; max-height: 1.5rem;">
        </a>
        <form class="d-flex" action="/" method="GET">
            <button class="btn btn-outline-primary btn-sm me-3">Buscar</button>
            <input type="search" class="form-control me-2" placeholder="Pesquisar..." name="k">
        </form>
    </div>
</nav>